<html lang="en">
  <head>
    {{>headers}}
    <title>Secret Page</title>
  </head>
  <body>
    {{>navbar}}
    <h1 class="h1_tag">This is a secret section of the website!</h1>
    {{>jquery}}
  </body>
</html>