<html lang="en">
  <head>
    {{>headers}}
    <title>Secret Page</title>
  </head>
  <body>
    {{>navbar}}
    <h1 class="h1_tag">{{user.first_name}} has accessed this private section</h1>
    {{>jquery}}
  </body>
</html>